version: '3.8'

services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'

  fastapi:
    image: tiangolo/uvicorn-gunicorn-fastapi:python3.8
    restart: always
    environment:
      DATABASE_URL: postgres://user:password@postgres/mydatabase
    ports:
      - '8000:80'
    depends_on:
      - postgres